@use './partials/variables' as *;

$fa-font-path: "../fonts/webfonts" !default;

@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

@import '~bootstrap/scss/bootstrap';

header {
    background-color: $header-color;

    height: 6.25rem;

    ul {
        display: flex;
        gap: 1rem;
        color: white;
        text-transform: uppercase;
        font-size: 0.9rem;

        margin: 0;

        list-style: none;
    }
}