.card {
    text-align: center;
    padding: 1rem 0.25rem;

    &:hover {
        box-shadow: 0px 0px 8px 8px rgba(255, 255, 255, 0.6);

        scale: 1.1;

        transition: all 0.5s;
    }

    h4 {
        text-transform: uppercase;
        font-size: 0.95rem;
    }

    .product_price {
        font-weight: bold;
        font-size: 1.75rem;
        padding: 1rem 0;

        .euro {
            font-size: 3.5rem;
        }

        .cent {
            font-size: 1.75rem;
        }

        .period {
            color: grey;
            font-size: 0.6rem;
            font-weight: lighter;
        }
    }

    .product_name {
        font-weight: bold;
        text-transform: capitalize;
    }

    .product_description {
        font-size: 0.75rem;
        color: gray;
        padding: 0.5rem 0;
    }



}